<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <div id="error">
      <h1>Página não encontrada</h1>
      <p>A página que você está procurando não existe.</p>
    </div>
  </div>
  <%- include ('partials/footer.ejs') %>
</body>
