<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <%- include('partials/index-header') %>
    <div class="card">
      <div class="card-body">
        <h3>Erro ao carregar a página, tente novamente mais tarde.</h3>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>
