html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceff1;
}

#form-question {
  margin-top: 5vh;
}

#error {
  background-color: white;
  margin-top: 5vh;
  padding: 2em;
}

img {
  color: white;
  height: 50px;
  width: 50px;
}

.card-body input {
  margin-bottom: 1rem;
}
.card-body button {
  margin-top: 1rem;
}
